.card{

    display: flex;
    flex-direction: column-reverse;
    border-radius: 15px;
    width: 500px;
    height: 700px;
    z-index: 1;
    position: relative;
    top: -22px;
    left: 60px;
    background-color: #fff;

}




.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: -110px;
    margin-left: -58px;
}

.cards div {
    display: block;
    position: relative;
    width: 140px;
}